/*Header*/
header{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto auto;
}

header a{
    font-size: 275%;
    text-decoration: none;
    padding: 7%;
}

header a:hover{
    margin-top: -6px;
}

#logo{
    width: 30%;
}

/*Footer*/
footer{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
}
footer img{
    width: 30%;
    margin: auto auto;
}
footer p{
    color: #F7F3E8;
    padding: 8%
}
footer a{
    padding-top: 15%;
}

/*
Home Page
*/
body{
    background-color: #0E67B4;
    margin: 0;
}
#hero{
    background-color: #2812a4;
    padding-top: 2.5%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#hero h1{
    padding-top: 15%;
    font-size: 400%;
    text-align: center;
    color: #F7F3E8;
    font-style:oblique;
}
#hero p{
    text-align: center;
    color: #F7F3E8;
    font-size: 125%;
    margin-right: 10%;
}
main{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#home-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#home-grid img{
    border-radius: 25%;
}
#home-clothes{
    padding-top: 10%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1px;
    font-size: 300%;
    color: #F7F3E8;
    padding-top: 20%;
    scale: 1.3;
}
#home-clothes:hover {
    transform: scale(1.2);
    margin-top: -10px;
}
#home-misc{
    padding-top: 10%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1px;
    font-size: 300%;
    color: #F7F3E8;
    padding-top: 20%;
    scale: 1.3;
}
#home-misc:hover {
    transform: scale(1.2);
    margin-top: -10px;
}

/*
Clothing
*/
#chero{
    background-color: #2812a4;
    padding-top: 2.5%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#chero h1{
    font-size: 400%;
    text-align: center;
    color: #F7F3E8;
    font-style:oblique;
}
#chero p{
    text-align: center;
    color: #F7F3E8;
    font-size: 225%;
    margin-right: 10%;
}
#citem-grid{
    background-color:#2812a4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.citems{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 2fr;
    background-color: #0E67B4;
    border-color: black;
    border: solid 2px;
    margin: 5px 2.5%;
    padding-right: 5px;
}
.citems img{
    width: 100%;
}
.citems h1{
    padding-left: 10%;
    color: #F7F3E8;
}
.citems p{
    font-size: 150%;
    text-align: center;
    color: #F7F3E8;
}
.button {
    background-color: #04680c;
    border: solid 1px black;
    color: #F7F3E8;
    padding: 16px;
    text-align: center;
    font-size: 24px;
    opacity: 0.6;
    transition: 0.3s;
    width: 50%;
    margin: auto auto;
    text-decoration: none;
}
.button:hover{
    opacity: 1;
}
/*
Misc Page
*/
#mhero{
    background-color:#0E67B4;
    padding-top: 2.5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#mhero h1{
    font-size: 400%;
    text-align: center;
    color: #F7F3E8;
    font-style:oblique;
    margin-right: 5%;
}
#mhero p{
    text-align: center;
    color: #F7F3E8;
    font-size: 150%;
    margin-left: 5%;
    padding-right: 5%
}
#mitem-grid{
    background-color:#0E67B4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.mitems{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 2fr;
    background-color:#2812a4;
    border-color: black;
    border: solid 2px;
    margin: 5px 2.5%;
    padding-right: 5px;
}
.mitems img{
    width: 100%;
}
.mitems h1{
    padding-left: 10%;
    color: #F7F3E8;
}
.mitems p{
    font-size: 150%;
    text-align: center;
    color: #F7F3E8;
}